<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>format version</key>
    <string>1</string>
    <key>version</key>
    <string>0.1.0</string>
    <key>author</key>
    <string>James Aitken</string>
    <key>base theme</key>
    <string>Default</string>
    <key>background</key>
    <dict>
        <key>style</key>
        <string>Solid</string>
        <key>color</key>
        <string>{0.0,0.0,0.0,1.0}</string>
    </dict>
    <key>titleBar</key>
    <dict>
        <key>size</key>
        <string>{480,24}</string>
        <key>closeButton</key>
        <dict>
            <key>frame</key>
            <string>{{7,4},{16,16}}</string>
        </dict>
        <key>miniaturizeButton</key>
        <dict>
            <key>frame</key>
            <string>{{28,4},{16,16}}</string>
        </dict>
        <key>zoomButton</key>
        <dict>
            <key>frame</key>
            <string>{{49,4},{16,16}}</string>
        </dict>
        <key>title</key>
        <dict>
            <key>margins</key>
            <string>{{71,29},{2,5}}</string>
            <key>fileButtonSize</key>
            <integer>16</integer>
            <key>textAttributes</key>
            <dict>
                <key>fontName</key>
                <string>titleBarFont</string>
                <key>fontSize</key>
                <string>systemFontSize</string>
                <key>textColor</key>
                <string>{1.0,1.0,1.0,1.0}</string>
                <key>shadowColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>shadowOffset</key>
                <string>{0,1}</string>
                <key>shadowBlur</key>
                <real>0</real>
            </dict>
        </dict>
        <key>fullScreenButton</key>
        <dict>
            <key>frame</key>
            <string>{{457,2},{22,22}}</string>
            <key>autoresize</key>
            <string>MinXMargin</string>
        </dict>
    </dict>
    <key>playPanel</key>
    <dict>
        <key>size</key>
        <string>{440,39}</string>
        <key>floating</key>
        <false/>
        <key>playButton</key>
        <dict>
            <key>frame</key>
            <string>{{4,4},{37,31}}</string>
        </dict>
        <key>playTimeTextField</key>
        <dict>
            <key>frame</key>
            <string>{{48,4},{64,14}}</string>
            <key>textAttributes</key>
            <dict>
                <key>fontName</key>
                <string>Lucida Grande</string>
                <key>fontSize</key>
                <string>11</string>
                <key>alignment</key>
                <string>Left</string>
                <key>textColor</key>
                <string>{0.8,0.8,0.8,1.0}</string>
                <key>strokeColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>strokeWidth</key>
                <string>-10</string>
                <key>shadowColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>shadowOffset</key>
                <string>{0,0}</string>
                <key>shadowBlur</key>
                <real>4</real>
            </dict>
        </dict>
        <key>statusTextField</key>
        <dict>
            <key>frame</key>
            <string>{{190,4},{58,14}}</string>
            <key>autoresize</key>
            <string>WidthSizable</string>
            <key>textAttributes</key>
            <dict>
                <key>fontName</key>
                <string>Lucida Grande</string>
                <key>fontSize</key>
                <string>11</string>
                <key>alignment</key>
                <string>Center</string>
                <key>textColor</key>
                <string>{0.8,0.8,0.8,1.0}</string>
                <key>strokeColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>strokeWidth</key>
                <string>-10</string>
                <key>shadowColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>shadowOffset</key>
                <string>{0,0}</string>
                <key>shadowBlur</key>
                <real>4</real>
            </dict>
        </dict>
        <key>durationTextField</key>
        <dict>
            <key>frame</key>
            <string>{{368,4},{64,14}}</string>
            <key>autoresize</key>
            <string>MinXMargin</string>
            <key>textAttributes</key>
            <dict>
                <key>fontName</key>
                <string>Lucida Grande</string>
                <key>fontSize</key>
                <string>11</string>
                <key>alignment</key>
                <string>Right</string>
                <key>textColor</key>
                <string>{0.8,0.8,0.8,1.0}</string>
                <key>strokeColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>strokeWidth</key>
                <string>-10</string>
                <key>shadowColor</key>
                <string>{0.0,0.0,0.0,1.0}</string>
                <key>shadowOffset</key>
                <string>{0,0}</string>
                <key>shadowBlur</key>
                <real>4</real>
            </dict>
        </dict>
        <key>seekSlider</key>
        <dict>
            <key>frame</key>
            <string>{{50,20},{380,10}}</string>
            <key>autoresize</key>
            <string>WidthSizable</string>
            <key>timeToolTip</key>
            <dict>
                <key>offset</key>
                <string>-5</string>
                <key>timeRect</key>
                <string>{{1,1},{51,17}}</string>
                <key>textAttributes</key>
                <dict>
                    <key>fontName</key>
                    <string>Lucida Grande</string>
                    <key>fontSize</key>
                    <string>10</string>
                    <key>alignment</key>
                    <string>Center</string>
                    <key>textColor</key>
                    <string>{0.9,0.9,0.9,1.0}</string>
                    <key>shadowColor</key>
                    <string>{0.0,0.0,0.0,1.0}</string>
                    <key>shadowOffset</key>
                    <string>{0,0}</string>
                    <key>shadowBlur</key>
                    <real>4</real>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
